<%- include('partials/header'); -%>


<section id = "toppart">
    <div class="container-fluid">
      <i class="fas tm-fa-big fa-music tm-fa-mb-big"></i>
      <h1>SINGLY</h1>
      <p>Welcome to Your Singly .. :-)</p>
    </div>
</section>
<div class="container">

</div>
<%- include('partials/footer'); -%>
